!!! 5
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width')
    title Handlebars demo
    link(rel='stylesheet', href='stylesheets/app.css')
    script(src='javascripts/vendor/custom.modernizr.js')
  body
    .row
      .large-12
        h2 PythonScript with Handlebars
        hr
    script(src='javascripts/jquery.js')
    script(src='javascripts/handlebars.js')
    script(src='javascripts/pythonscript.js')
    script(src='javascripts/jquery.py.js')
    script(src='javascripts/app.py.js')
    script(src='javascripts/foundation/foundation.js')
    // script(src='javascripts/foundation/foundation.joyride.js')
    // script(src='javascripts/foundation/foundation.alerts.js')
    // script(src='javascripts/foundation/foundation.forms.js')
    // script(src='javascripts/foundation/foundation.cookie.js')
    // script(src='javascripts/foundation/foundation.section.js')
    // script(src='javascripts/foundation/foundation.magellan.js')
    // script(src='javascripts/foundation/foundation.tooltips.js')
    // script(src='javascripts/foundation/foundation.placeholder.js')
    // script(src='javascripts/foundation/foundation.topbar.js')
    // script(src='javascripts/foundation/foundation.reveal.js')
    // script(src='javascripts/foundation/foundation.orbit.js')
    // script(src='javascripts/foundation/foundation.clearing.js')
    // script(src='javascripts/foundation/foundation.dropdown.js')
    script
      $(document).foundation();
